
  <div class="panel panel-primary">
    <div class="panel-heading">Add new song to this artist</div>

    <div class="panel-body">
      <%= render 'songs/form' %>
    </div>
  </div>



<div class="col-md-12">
  <img class="col-md-4">
  <%= image_tag @artist.photo.image.thumbnail %>
  <h1 class="col-md-8"><%= @artist.name %></h1>
</div>


<div class="col-md-12">
    <ul>
  <% @artist.songs.select(&:persisted?).each do |song| %>
  <li>
    <%= song.name %>
    <%= link_to "[Delete]", artist_song_path(@artist, song.id), method: :delete, data: { confirm: "Are you sure?" } %>
  </li>
  <% end %>
</ul>
</div>

<%= link_to "[Delete]", artist_path(@artist.id), method: :delete, data: { confirm: "Are you sure?" } %>
