
  <div class="panel panel-primary">
    <div class="panel-heading">Add new song to this artist</div>

    <div class="panel-body">
      <form>
      <%= render 'songs/form' %>
    </form>
    </div>
  </div>



<div class="col-md-12">
  <img class="col-md-4">
  <%= image_tag @artist.photo.image.thumbnail %>
  <h1 class="col-md-8"><%= @artist.name %></h1>
</div>



<div class="col-md-12">


  <ul class="songlist" data-id="<%= @artist.id %>">
    <% @artist.songs.each do |song| %>
  <li class="song" data-id="<%= song.id %>">
    <input id="song-<%= song.id %>" type="checkbox">
    <label for="song-<%= song.id %>"><%= song.name %></label>
  </li>
  <% end %>
  </ul>


</div>

<a href="#" id="delete">Delete selected song</a>
